.fundo-cabecalho{
    background-image: url('/img/eventos-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #000;
    position: relative;
    min-height: 400px; /* Adjust based on design */
        margin-top: 67px;

}

.logo-cabecalho-pagina{
    height: 40px;
    width: auto;

}

.conteudo-cabecalho{
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0)); /* Blue to transparent */
}

.texto-abas-cronologia{
    font-size: 20px !important;
    font-weight: 400 ;
}
.uk-subnav-pill>*>:first-child {
    border-radius: 20px ;    color: rgba(5, 5, 51, 1);
    font-weight: bolder;
    text-transform: capitalize; font-weight: 600;
font-size: 1rem !important; padding: 12px 20px;
border-radius: 100px;
}
.uk-subnav-pill>.uk-active>a{
    border-radius: 20px ;
    background-color: rgba(40, 193, 253, 1);
    color: rgba(5, 5, 51, 1);
    font-weight: bolder;
    text-transform: capitalize; font-weight: 600;
font-size: 1rem !important; padding: 12px 20px;
border-radius: 100px;
}


.border-2 {
    border-radius: 30px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

/* Overlay background that covers the whole card */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    border-radius: 30px;

}

/* Show dark background when hovered */
.uk-transition-toggle:hover .overlay {
    background-color: rgba(0, 0, 0, 0.547); /* Dark overlay */
    border-radius: 30px;

}

/* Ensure the text remains visible */
.overlay a {
    color: white;
    font-size: 2rem;
    z-index: 1;
}
