<!-- 
<div class=" uk-margin-large-top">
   <div class="uk-container">
      <div class=" uk-margin-medium-top uk-text-center ">

         <a href="https://partners.angolacables.co.ao/">
            <img style="border-radius: 20px" class="border" src="img/ac-partner-banner.jpeg">
         </a>

      </div>
   </div>
</div>

Slideshow section -->

<div class=" uk-container uk-margin-large-top">

   <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 4000; pause-on-hover: true" >

      <div class="uk-slideshow-items">
         <div>
            <a target="_blank" href="https://partners.angolacables.co.ao/">
               <img style="border-radius: 20px" class="border" src="img/adslider/ac-partner-banner.jpeg">
            </a>
         </div>
         <div>
            <a target="_blank" href="https://vods2africa.com/">
               <img style="border-radius: 20px" class="border" src="img/adslider/1.png">
            </a>
         </div>
         <div>
            <a target="_blank" href="https://ecobizz.ao/">

               <img style="border-radius: 20px" class="border" src="img/adslider/2.png">
            </a>
         </div>
         <div>
            <a target="_blank" href="https://aceleranet.ao/">

               <img style="border-radius: 20px" class="border" src="img/adslider/3.png">
            </a>
         </div>
         <div>
            <a target="_blank" href="https://host2africa.com/">

               <img style="border-radius: 20px" class="border" src="img/adslider/4.png">
            </a>
         </div>
         <div>
            <a target="_blank" href="https://www.clouds2africa.com/" >

               <img style="border-radius: 20px" class="border" src="img/adslider/5.png">
            </a>
         </div>
      </div>

      <a class="uk-position-center-left uk-position-small " href uk-slidenav-previous
         uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small " href uk-slidenav-next
         uk-slideshow-item="next"></a>

   </div>
</div>