.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

.slider {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slider-inner {
  display: flex;
  animation: infinite-scroll 20s linear infinite;
  will-change: transform;
}

.slider img {
  width: 300px;
  height: 150px;
  margin: 0 20px;
  flex-shrink: 0;
  object-fit: cover;
}

/* Keyframes animation */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Gradient fade on sides */
.slider-container::before,
.slider-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.slider-container::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.slider-container::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.margem-superior {
  margin-top: 70px !important;
  margin-bottom: 2px !important;
}

@media (max-width: 767px) {


  .uk-margin-small-top {
    margin-top: 0px !important;
  }

  .uk-margin-medium-top {
    margin-top: 0px !important;
  }

  .margem-superior {
    margin-top: 70px !important;
    margin-bottom: 5px !important;
  }

}