<div class=" uk-margin-medium-bottom uk-margin-small-top margem-superior">
  <p style="font-weight: 900; font-size:35px; color: rgba(0, 0, 38, 1) " class="uk-text-center texto-div">
    {{'Nossos Parceiros' | translate}}

  </p>
</div>


<div class="fundo">

  <div class=" slider-container shadow-top uk-margin-small-top">
    <div class="slider uk-margin-small-top uk-margin-medium-bottom">
      <div class="slider-inner">
        <img class="uk-border-rounded" src="img/parceiros/21st_century_logo_FULL_2_babx2s.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/ATCON_Web_Transparent.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/Digital_Realty_TM_Brandmark_RGB_Black.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/Internet-Exchange-Point-of-Nigeria-IXPN-750x426.png" alt="">

        <img class="uk-border-rounded" src="img/parceiros/gcorelabs.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/interxion.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/kentik.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/microsoft.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/megaport.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/ciena.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/ascenty.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/juniper.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/cloudflare.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/decix.png" alt="">
        <img class="uk-border-rounded" src="img/parceiros/nexus.png" alt="">





      </div>
    </div>
  </div>
  <div class="uk-container uk-text-center">

  </div>
</div>