<div class=" fundo-cta uk-container uk-margin-large-top uk-margin-large-bottom uk-text-center">

    <h1 style="color: white;" class=" uk-margin-small-top uk-padding"> {{'ad.entre' | translate }} <b>
            {{'ad.contacto' | translate }} </b></h1>
    <div class=" ">
        <div class="margem-texto" >
            <h2 style="width: 100%; color: white; font-size:1.55rem; width: 100%;" class="uk-margin"> {{'ad.descricao'
                | translate }} </h2>

        </div>

    </div>

    <div style="margin-top: 20px;" class="uk-text-center uk-margin-large-bottom">

        <a style="color: rgba(2, 37, 97, 1); " routerLink="/company" class="uk-text-decoration-none">
            <button style="background-color:#FAA61A ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                    {{ 'mais.sobre' |
                    translate }}</span></button>
        </a>
    </div>