.fundo-cabecalho {
    background-image: url('/img/sobre.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    position: relative;
    min-height: 400px;
    margin-top: 67px;

}

.logo-cabecalho-pagina {
    height: 40px;
    width: auto;
}



.conteudo-cabecalho {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0));
}




.fundo-cronologia {
    background-color: rgba(247, 247, 247, 1);
    position: relative;
    min-height: 250px;
    overflow-x: hidden;
    word-wrap: break-word;
    /* Legacy */
    overflow-wrap: break-word;
    /* Modern */
    word-break: break-word;
    /* Ensures breaks */


}

.fundo-cronologia-abas {
    background-color: rgba(247, 247, 247, 1);
}

/*
.conteudo-cronologia {
    position: relative;
    bottom: 0;
    width: 100%;
}
*/
.texto-abas-cronologia {
    font-size: 20px !important;
    font-weight: 700;
    color: #00003C;

}

/*
.uk-subnav-pill>.uk-active>a {
    border-radius: 5px;
    background-color: rgba(40, 193, 253, 1) !important;
    color: rgba(5, 5, 51, 1);
    font-weight: bolder;
}*/

.uk-slidenav-previous,
.uk-slidenav-next {
    background-color: rgba(0, 0, 78, 0.918);
    /* Dark gray background */
    border-radius: 50%;
    /* Makes it circular */
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed, should be same as width for a perfect circle */
    display: flex;
    /* For centering the icon */
    justify-content: center;
    /* For centering the icon */
    align-items: center;
    /* For centering the icon */
    color: rgba(26, 184, 221, 1);
    /* Icon color */
    padding: 10px;
}



.fundo-valores {
    background-color: rgba(5, 5, 51, 1);
}

.fundo-linha {
    background-image: url('/img/fundo-linha.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    word-wrap: break-word;
    /* Legacy */
    overflow-wrap: break-word;
    /* Modern */
    word-break: break-word;
    /* Ensures breaks */

}

.img-resp-social {
    height: 70vh;
    width: 100%;
}

.fundo-card-valores {
    background: linear-gradient(135deg, rgba(1, 95, 132, 0.2), rgb(0, 44, 62));
    border-radius: 20px;

}

.fundo-equipa {
    background-color: rgba(26, 184, 221, 1);
}

.gradiente-nome-equipa {
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0));
    width: 100%;

}

.missao-imagem {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.fundo-contador {

    background: linear-gradient(180deg, #004f5b, #002561);
    background-color: #002561;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
}


.video-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: black;
    border-radius: 20px;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}

.texto-banner {
     position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    font-size: 1rem;

}



.video-thumbnail {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
  animation: pulseGlow 2s infinite;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px #004f5b;
  }
  50% {
    box-shadow: 0 0 20px #004f5b, 0 0 20px rgba(0, 255, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 10px #004f5b;
  }
}

/* Slider specific styles */
.uk-slider-container {
    padding: 40px 40px;
    margin-bottom: 20px;
}

.uk-slider-items li {
    margin: 0 5px;
}

.uk-slider-items li a {
    padding: 8px 16px;
    display: block;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.uk-slider-items li a {
    color: rgba(5, 5, 51, 1);
    border-radius: 5px;
    font-weight: bolder;
}

.uk-slider-items li.uk-active a {
    background-color: rgba(40, 193, 253, 1);
    
}

/* Style the close button */
.uk-modal-close-default {
    top: 10px;
    right: 10px;
    background-color: #16607c;

    color: white;
    border-radius: 50%;
    padding: 15px;
    transition: background-color 0.3s ease;
}



/* Hover effect for the close button */
#modal-video .uk-modal-close-default:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


@media (max-width: 640px) {
    .uk-slider-container {
        padding: 0 30px;
    }

    .uk-grid-item-match {
        margin-bottom: 20px;
    }

    .uk-width-1-2 {
        width: 100% !important;
    }
}

.uk-dotnav {
    color: #fff !important;
}






.uk-background-primary {
    border-radius: 50% !important;
}



/* Responsive text sizing */
.responsive-title {
    font-size: 1.5rem;
    /* Default size for desktop */
}

.responsive-description {
    font-size: 14px;
    /* Default size for desktop */
}

/* Tablet screens (768px - 1024px) */
@media (max-width: 1024px) {
    .responsive-title {
        font-size: 1.3rem;
    }

    .responsive-description {
        font-size: 13px;
    }
}

/* Mobile screens (up to 767px) */
@media (max-width: 767px) {
    .responsive-title {
        font-size: 1.1rem;
    }

    .responsive-description {
        font-size: 12px;
    }

    .padding-mobile {
        padding: 0px;
    }
}

/* Small mobile screens (up to 480px) */
@media (max-width: 480px) {
    .responsive-title {
        font-size: 1rem;
    }

    .responsive-description {
        font-size: 11px;
    }
}

.uk-border-circle {
    border-radius: 50px;
}