/*Estilo cabeçalho*/

.hero-section {
  background: linear-gradient(to top, #001f4d, #1a75cf);
  /* fallback gradient */
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  position: relative;
  color: white;
}

button {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  color: #022561;
  background-color: #28C1FD;
  padding: 1rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #005baf;
    color: white;
  }

  &:disabled {
    background: #cccccc;
    cursor: not-allowed;
  }
}

.error-message {
  color: #d32f2f;
  background: #fce8e6;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}



.botao-azul {

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  color: #022561;
  background-color: #28C1FD;
  border-radius: 20px;
}


.fundo-cabecalho {
  background-image: url('/img/recrutamento-banner.jpeg');

  position: relative;
  min-height: 400px;
  /* Adjust based on design */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
  position: relative;
  min-height: 400px;
  /* Adjust based on design */
}

.logo-cabecalho-pagina {
  height: 40px;
  width: auto;

}

.conteudo-cabecalho {

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0));
  /* Blue to transparent */
}

.fundo-recrutamento {
  background-color: rgba(247, 247, 247, 1);
}

.botao-pesquisar {
  background-color: rgba(40, 193, 253, 1);
  color: rgba(5, 5, 51, 1);
}

.gradiente-nome-equipa {
  background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0));
  /* Blue to transparent */
  border-radius: 30px;

}


.gradiente-nome-vaga {
  background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0));
  /* Blue to transparent */
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;

}

.fundo-form {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: 0px -8px 0px rgba(39, 200, 227, 1);
}


/*estilo pesquisa */




.responsibilities-content {
  /* Basic styles for TinyMCE content */
  line-height: 1.6;

  p {
    margin-bottom: 1rem;
  }

  ul,
  ol {
    padding-left: 20px;
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}