.fundo-cabecalho{
    background-image: url('/img/noticias-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #000;
    position: relative;
    min-height: 400px; /* Adjust based on design */
    margin-top: 67px;

}

.logo-cabecalho-pagina{
    height: 40px;
    width: auto;

}

.conteudo-cabecalho{
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0)); /* Blue to transparent */
}


.fundo-noticias{
    background-color: rgba(247, 247, 247, 1);
}