<div class="uk-child-width-1-5@m uk-grid-small uk-grid-match uk-padding-horizontal uk-margin-large-bottom uk-padding" uk-grid>
    <div>
        <div class="uk-card fundo-numeros display-numeros uk-text-left">
            <h1 style="color: white; font-size: 3.5rem;" class="uk-card-title">
              <app-contador [startValue]="0" [targetValue]="4" [interval]="200"></app-contador>
            </h1>
            <p class="uk-margin-remove" style="color: white;">{{ 'num.continentes' | translate }}</p>
        </div>
    </div>
    <div>
      <div class="uk-card fundo-numeros display-numeros uk-text-center">
          <h1 style="color: white; font-size: 3.5rem;" class="uk-card-title">
            <app-contador [startValue]="0" [targetValue]="27" [interval]="50"></app-contador>
          </h1>
          <p class="uk-margin-remove" style="color: white;">{{ 'num.ixp' | translate }}</p>
      </div>
    </div>
    <div>
      <div class="uk-card fundo-numeros display-numeros uk-text-center">
          <h1 style="color: white; font-size: 3.5rem;" class="uk-card-title">
            <app-contador [startValue]="900" [targetValue]="930" [interval]="50"></app-contador>
          </h1>
          <p class="uk-margin-remove" style="color: white;">{{ 'num.datacenters' | translate }}</p>
      </div>
    </div>
    <div>
      <div class="uk-card fundo-numeros display-numeros uk-text-center">
          <h1 style="color: white; font-size: 3.5rem;" class="uk-card-title">
            <app-contador [startValue]="0" [targetValue]="30" [interval]="50"></app-contador>
          </h1>
          <p class="uk-margin-remove" style="color: white;">{{ 'num.pops' | translate }}</p>
      </div>
    </div>
    <div>
      <div class="uk-card fundo-numeros display-numeros uk-text-center">
          <h1 style="color: white; font-size: 3.5rem;" class="uk-card-title">
            <app-contador [startValue]="5500" [targetValue]="6000" [interval]="1"></app-contador>
          </h1>
          <p class="uk-margin-remove" style="color: white;">{{ 'num.peering' | translate }}</p>
      </div>
    </div>
  </div>
  
  