
<div>
  <div class="uk-container ">
      <div class=" uk-text-center ">
        
  
        <div class=" uk-margin-medium-top">
          <h2 style="color: #020026 !important;" class="uk-text-left">{{'servicos.em' | translate}} <b> {{'servicos.destaque' | translate}} </b></h2>
 
        </div>
  
  
        <div class=" slider-container uk-position-relative uk-margin-large-top uk-margin-large-bottom uk-visible-toggle uk-light"
          tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000; pause-on-hover: false">
  
  
          <div class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@m uk-grid uk-margin-large-botto">
            <div>
              <div class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                  data-src="img/banner-cloud.jpg" uk-img>
                  <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                      <b style="font-size: 18px; color: white; border-radius: 30px;">CLOUD</b>
                      <a routerLink="/conectividade" > <p style="color:#fff;  border-radius: 30px" class="uk-text-left ">
                        {{'saber.mais' | translate}} </p> </a>

                  </div>

              </div>
          </div>

          <div>
            <div class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                data-src="img/banner-iptransit.jpg" uk-img>
                <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                    <b style="font-size: 18px; color: white; border-radius: 30px;">IP TRANSIT</b>
                   <a routerLink="/conectividade" > <p style="color:#fff;  border-radius: 30px" class="uk-text-left ">
                    {{'saber.mais' | translate}}</p> </a>

                </div>

            </div>
        </div>

        <div>
          <div class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
              data-src="img/banner-sap.jpg" uk-img>
              <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                  <b style="font-size: 18px; color: white; border-radius: 30px;">SAP BUSINESS ONE</b>
                 <a routerLink="/conectividade" > <p style="color:#fff;  border-radius: 30px" class="uk-text-left "> 
                  {{'saber.mais' | translate}}</p></a>

              </div>

          </div>
      </div>

      <div>
        <div class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
            data-src="img/remotepeering.jpg" uk-img>
            <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                <b style="font-size: 18px; color: white; border-radius: 30px;">REMOTE PEERING</b>
               <a> <p href="#"  style="color:#fff;  border-radius: 30px" class="uk-text-left ">{{'saber.mais' | translate}} </p> </a>

            </div>

        </div>
    </div>

  
  
  
          </div>
  
          <a style="color: white !important;" class="uk-position-center-left-out uk-position-small uk-hidden-hover"
            href uk-slidenav-previous uk-slider-item="previous"></a>
          <a style="color: white !important;" class="uk-position-center-right-out uk-position-small uk-hidden-hover"
            href uk-slidenav-next uk-slider-item="next"></a>
  
        </div>
  
      </div>
    </div>
  
  </div>
  
  