.border{
    border-radius: 10px;
}

.thumbnail {
  height: 220px; /* adjust to the size you want */
  overflow: hidden;
  border-radius: 20px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}