.fundo-selos .uk-grid > * {
    padding-left: 0 !important; /* Remove left padding */
    padding-right: 0 !important; /* Remove right padding */
}

.fundo-selos img {
    margin: 0 !important; /* Remove any default margin on images */
}