<div class="uk-position-relative uk-visible-toggle uk-light uk-margin-large-top uk-margin-large-bottom " tabindex="-1"
    uk-slider="center: true; autoplay: true; autoplay-interval: 4000; pause-on-hover: false; infinite: true">

    <div style="max-height: fit-content;" class=" uk-slider-items uk-grid uk-grid-small uk-grid-collapse@s">

        <div class="uk-width-3-4">

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <p style="color:white">We are TelCables Nigeria</p>
                                    <h1 style="font-weight: bolder; color:#fff"
                                        class="uk-text-left uk-margin-small-bottom uk-margin-small-top">
                                        <b>
                                           Operadora mais interconectada da África
                                        </b>
                                    </h1>
                                    <p class="angola-cables-texto" style="color:#fff">
                                        A TelCables Nigeria, impulsionada pela rede global da Angola Cables, 
                                        é a principal operadora de telecomunicações da África. 
                                        Estabelecemos o padrão da indústria em desempenho,
                                        resiliência e inovação.
                                    </p>
                                    <a routerLink="/company">
                                        <button
                                            style="background-color: #e3bd17; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class="uk-button uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> + Mais sobre nós</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div>
                            <div>
                                <img src="/img/westafrica-mapa2025.png" alt=""
                                    style="border-radius: 30px; width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="uk-width-3-4">

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <p style="color:white">Clouds2Africa</p>
                                    <h1 style="font-weight: bolder; color:#fff"
                                        class="uk-text-left uk-margin-small-bottom uk-margin-small-top">
                                        <b>
                                            Nuvem local para todas as operações comerciais

                                        </b>
                                    </h1>
                                    <p class="angola-cables-texto" style="color:#fff">
                                        Ao manter os dados e as aplicações dentro da nossa região, garantimos baixa latência,
                                        conformidade com as regulamentações locais e máxima confiabilidade.
                                    </p>

                                    <a href="https://www.clouds2africa.com/" target="_blank" class="">
                                        <button
                                            style="background-color: #e3bd17; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> Comece agora</span> </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div>
                            <div>
                                <img src="/img/cloud2africamap2025.png" alt=""
                                    style="border-radius: 30px; width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="uk-width-3-4">

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <p style="color:white"></p>
                                    <h1 style="font-weight: bolder; color:#fff"
                                        class="uk-text-left uk-margin-small-bottom uk-margin-small-top">
                                        <b>
                                            A TelCables Brasil lança o Metro Connect em Brasília!

                                        </b>
                                    </h1>
                                    <p class="angola-cables-texto" style="color:#fff">
                                        Interconexões ultrarrápidas e extremamente confiáveis ​​já estão disponíveis, conectando o núcleo digital de Lagos com o mundo.
                                    </p>

                                    <a routerLink="/company">
                                        <button
                                            style="background-color: #e3bd17; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class="uk-button uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> + Mais sobre nós</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div>
                            <div>
                                <img src="/img/redewioccmapa2025.png" alt=""
                                    style="border-radius: 30px; width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="uk-width-3-4">

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <p style="color:white">Clouds2Africa</p>
                                    <h1 style="font-weight: bolder; color:#fff"
                                        class="uk-text-left uk-margin-small-bottom uk-margin-small-top">
                                        <b>
                                            Nuvem local para todas as operações comerciais

                                        </b>
                                    </h1>
                                    <p class="angola-cables-texto" style="color:#fff">
                                        Ao manter os dados e as aplicações dentro da nossa região, garantimos baixa latência, conformidade com as regulamentações locais e máxima confiabilidade.
                                    </p>

                                    <a href="https://www.clouds2africa.com/" target="_blank" class="">
                                        <button
                                            style="background-color: #e3bd17; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> Comece agora</span> </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div>
                            <div>
                                <img src="/img/cloud2africamap2025.png" alt=""
                                    style="border-radius: 30px; width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
        uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
        uk-slider-item="next"></a>

</div>