<app-menu></app-menu>
<div class="fundo-cabecalho">
  <div class="gradiente-texto-cabecalho">
    <div class="conteudo-cabecalho uk-margin-medium-top">
      <div class="uk-container uk-margin-large-bottom">
        <h4 style="color:white">{{ 'virtualizacao_titulo_pagina' | translate }}</h4>
        <h1 style="color:rgba(39, 200, 227, 1); font-weight: bolder;">{{ 'virtualizacao_subtitulo_pagina' | translate }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="uk-container">
  <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s uk-text-left uk-margin-large-top " uk-grid>

        <div class="uk-margin-large-bottom">
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">         <div class="uk-card-media-top">
          <img class="border-2 card-image" src="img/produtos/virtual-router.jpeg" width="1800" height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>{{ 'virtual_router_titulo' | translate }}</b></h2>
            <br>
            <p>{{ 'virtual_router_descricao' | translate }}</p>
          </div>
        </div>
                <div class="uk-text-center uk-margin-auto-top">
          <a style="font-weight: bold;" href="https://angolacables.rds.land/seguranca">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{ 'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

        <div class="uk-margin-large-bottom">
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">         <div class="uk-card-media-top">
          <img class="border-2 card-image" src="img/produtos/sdwan-ac.png" width="1800" height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>{{ 'sd_wan_titulo' | translate }}</b></h2>
            <br>
            <p>{{ 'sd_wan_descricao' | translate }}</p>
          </div>
        </div>
                <div class="uk-text-center uk-margin-auto-top">
          <a style="font-weight: bold;" href="https://angolacables.rds.land/seguranca">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{ 'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-rodape></app-rodape>