.fundo-cabecalho{
    background-image: url('/img/virtualizacao-banner.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #000;
    position: relative;
    min-height: 400px; /* Adjust based on design */
    margin-top: 67px;

}

.logo-cabecalho-pagina{
    height: 40px;
    width: auto;

}

.conteudo-cabecalho{
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0)); /* Blue to transparent */
}



.botao-guia {
    background-color: rgba(40, 193, 253, 1);
    color: rgba(0, 0, 78, 0.918);
}

.uk-subnav-pill>.uk-active>a {
    border-radius: 5px;
    background-color: rgba(40, 193, 253, 1);
    color: rgba(5, 5, 51, 1);
    font-weight: bolder;
}