<div class="uk-padding uk-margin-large-top fundo">

    <div class="uk-margin-large-top uk-margin-large-left uk-margin-large-right  uk-child-width-expand@s uk-text-left" uk-grid>
        <div>
            <h1 style="color:white">
                <b>{{ 'datacenter.titulo_principal' | translate }}</b>
            </h1>
            <p style="color:white" class="uk-margin-small-top"> {{ 'datacenter.descricao_principal' | translate }}</p>
        </div>
        <div>
        </div>
    </div>

    <div class=" uk-margin-large-left uk-margin-large-right uk-child-width-1-2 uk-text-center uk-grid-match" uk-grid>

        <div>
            <div class="  uk-child-width-1-2 uk-text-center uk-grid-match" uk-grid>
                <div>
                    <div class="border uk-card uk-card-primary uk-card-body">
                        <h3>Angonap 1</h3>
                        <p>{{ 'datacenter.localizacao_angonap1' | translate }}</p>
                        <button class="uk-margin-small-top uk-button uk-button-default uk-border-rounded">{{ 'datacenter.saber_mais' | translate }}</button>

                    </div>
                </div>
                <div>
                    <div class="border uk-card uk-card-primary uk-card-body">
                        <h3>Angonap 2</h3>
                        <p>{{ 'datacenter.localizacao_angonap2' | translate }}</p>
                        <button class="uk-margin-small-top uk-button uk-button-default uk-border-rounded">{{ 'datacenter.saber_mais' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="border fundo-cloud uk-card uk-card-default uk-card-body uk-text-left">
                <h3 style="color: white;">{{ 'datacenter.marcar_visita_titulo' | translate }}</h3>
                <p style="color: white;">
                    {{ 'datacenter.marcar_visita_descricao' | translate }}</p>
                <a href="#modal-visita" uk-toggle><button class="uk-button uk-button-primary uk-button-large uk-border-pill">{{ 'datacenter.comecar_visita_botao' | translate }}</button></a>
            </div>
        </div>
    </div>
</div>


<div id="modal-visita" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">{{ 'datacenter.modal_titulo' | translate }}</h2>
        <p>{{ 'datacenter.modal_descricao' | translate }}</p>

        <form class="uk-form-stacked uk-border-rounded">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">{{ 'datacenter.form_nome_completo' | translate }}</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-pill" id="form-stacked-text" type="text" placeholder="">
                </div>
                <label class="uk-form-label" for="form-stacked-text">{{ 'datacenter.form_seu_email' | translate }}</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-pill" id="form-stacked-text" type="text" placeholder="">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-select">{{ 'datacenter.form_qual_datacenter' | translate }}</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" id="form-stacked-select">
                        <option>{{ 'datacenter.option_angonap1' | translate }}</option>
                        <option>{{ 'datacenter.option_angonap2' | translate }}</option>
                    </select>
                </div>
            </div>
        </form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-primary " type="button"> {{ 'datacenter.comecar_visita_modal_botao' | translate }}</button>
        </p>
    </div>
</div>