<div class="uk-container">

    
<div class="fundo-telcables uk-margin-large-bottom uk-margin-large-top uk-padding">
   
        <p class=" uk-text-center" style="color:white; font-size: 18px">{{ 'nossas.operacoes' | translate }} <span style="color:rgba(40, 193, 253, 1)"> {{ 'operacoes' | translate }} </span></p>
  
        <div class="uk-child-width-expand@s uk-text-center uk-grid-collapse" uk-grid>
            <div class="uk-margin-small-top" >
                <a href="https://angolacables.co.ao/">
                    <img class="logo-image"  src="img/telcables/svg/angolacables.svg" alt="ACSA Logo" />
                </a>
            </div>
            <div class="uk-margin-small-top">
                <a href="https://telcables.co.za/">
                    <img class="logo-image"  src="img/telcables/svg/telcables_sa.svg" alt="TelCables South Africa Logo" />
                </a>
            </div>
            <div class="uk-margin-small-top">
                <a href="https://telcables.ng/">
                    <img class="logo-image" width="auto" src="img/telcables/svg/telcables_nigeria.svg" alt="TelCables Nigeria Logo" />
                </a>
            </div>
            <div class="uk-margin-small-top">
                <a href="https://telcables.com.br/">
                    <img class="logo-image"  src="img/telcables/svg/telcables_brasil.svg" alt="TelCables Brazil Logo" />
                </a>
            </div>
            <div class="uk-margin-small-top">
                <a href="https://telcables.net/">
                    <img class="logo-image"  src="img/telcables/svg/telcables_usa.svg" alt="TelCables US Logo" />
                </a>
            </div>
            <div class="uk-margin-small-top">
                <a href="https://telcables.pt/">
                    <img class="logo-image"  src="img/telcables/svg/telcables_europe.svg" alt="TelCables Europe Logo" />
                </a>
            </div>
        </div>
   
</div>

